body {
  min-width: 304px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

header {
  height: 52vw;
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-main.png");
  background-size: 100%;
  position: relative;
}
.heading {
  position: absolute;
  top: 46%;
  left: 25%;
  color: #99cccc;
  font-size: 4.7vw;
}
.nav-bar {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-navigationbar.png");
  background-size: cover;
  text-align: right;
  height: 8vw;
  margin-top: -1.5%;
}
.nav-heading {
  float: left;
  color: #666666;
  font-size: 3.65vw;
  padding: 2.3%;
}

.fas {
  color: #666666;
  font-size: 5vw;
  padding: 2.3%;
}
.dropdown {
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #666666;
  min-width: 40%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  float: right;
}

.dropdown-content a {
  color: #99cccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.about-me-section {
  width: 100%;
  display: flex;
}
.profile-image {
  flex-basis: 40%;
  width: 28vw;
  height: auto;
  padding: 4vw;
}
.about-me-text {
  flex-basis: 33%;
  font-size: 1.1vw;
  padding: 0 10vw 0 0;
  margin-top: 12vw;
}
.flower-image {
  width: 19vw;
  height: auto;
}

.slideshow-background {
  width: 100%;
  position: relative;
}

[type="radio"] {
  display: none;
}

.slider-section {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-slideshowbackground.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#slider {
  height: 57vw;
  position: relative;
  perspective: 2000px;
  transform-style: preserve-3d;
  transform: translate(0, 6%);
}

#slider label {
  margin: auto;
  width: 48%;
  height: 60%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.6s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#slide1 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-arkadeproperty-flyer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#slide2 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
#slide3 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
#slide4 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
#slide5 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}

.contact-form-section {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-contactform.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -16.6vw;
  min-height: 38vw;
}
.contact-form {
  transform: translate(-0.5vw, 10%);
  height: 50%;
  box-sizing: border-box;
}
.contact-heading {
  padding-top: 6vw;
  text-align: center;
  font-size: 3vw;
  font: bolder;
}

.input-box {
  width: 40vw;
  font-size: 1vw;
  display: block;
  margin: 2vw auto;
  padding: 0vw;
}
.input-box2 {
  width: 40vw;
  font-size: 1vw;
  display: block;
  margin: 2vw auto;
  padding: 0vw;
  height: fit;
}
.submit-button {
  font-size: 1vw;
  display: block;
  margin: -2px auto;
  color: white;
  background-color: #666666;
  border-color: #666666;
}
footer {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-bottombar.png");
  background-size: 100%;
}
.bottom-logo {
  width: 10%;
  padding-left: 1.5%;
}
.github {
  float: right;
  font-size: 2vw;
  padding: 1.6%;
}

/*slideshow preview*/

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}
