body {
  min-width: 304px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.header-img {
  width: 100%;
  height: auto;
}
header {
  position: relative;
  text-align: center;
  color: #99cccc;
  font-size: 4.4vw;
}
.heading {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar {
  background-color: #99cccc;
}
