body {
  min-width: 304px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.header-img {
  position: relative;
  width: 100%;
  height: auto;
}

header {
  position: relative;
  text-align: center;
  color: #99cccc;
  font-size: 4.4vw;
}
.heading {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-bar {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-navigationbar.png");
  background-size: cover;
  text-align: right;
  padding: 3% 0 2% 0;
  position: relative;
  margin-top: -8%;
}
.nav-heading {
  float: left;
  color: #666666;
  font-size: 3.65vw;
}
.fas {
  color: #666666;
  font-size: 5vw;
}
.dropdown {
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #666666;
  min-width: 40%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  float: right;
}

.dropdown-content a {
  color: #99cccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.about-me-text {
  width: 33%;
  font-size: 2.6vw;
  display: inline-block;
  padding: 3.5vw;
  margin-top: 1%;
}
.flower-image {
  width: 20%;
  float: right;
}
.profile-image {
  width: 33%;
  float: left;
  padding: 3vw;
}
.contact-form-image {
  width: 100%;
}
.contact-form-blue {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -118%);
}
.contact-heading {
  text-align: center;
}
.contact-form {
  text-align: center;
  width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 120%);
  z-index: 1;
}
.input-box {
  width: 100%;
  margin: 5% 0 5% 0;
}

.slideshow-background {
  width: 100%;
  position: relative;
}

[type="radio"] {
  display: none;
}

#slider {
  height: 55vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -69%);
}

#slider label {
  margin: auto;
  width: 60%;
  height: 60%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.6s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#slide1 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
  background-size: cover;
}
#slide2 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
#slide3 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
#slide4 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
#slide5 {
  background-image: url("../images/rewebsitelayout/sgormleydesign-homepage-profileimage.png");
}
